#################
## Netbeans
#################

nbproject



#################
## Codeigniter
#################

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess



#################
## Shop
#################
application/modules/amx/config/database.php
application/modules/amx/config/master.php

application/modules/core/config/master.php

application/modules/cwservers/config/database.php
application/modules/cwservers/config/master.php

application/modules/general/config/database.php
application/modules/general/config/master.php

application/modules/ipb/config/database.php
application/modules/ipb/config/master.php

application/modules/minecraft/config/database.php
application/modules/minecraft/config/master.php

application/modules/muonline/config/database.php
application/modules/muonline/config/master.php

application/modules/sourcemod/config/database.php
application/modules/sourcemod/config/master.php

application/modules/war/config/database.php
application/modules/war/config/master.php

application/modules/wow/config/database.php
application/modules/wow/config/master.php
